/* Base Styles */
html, body {
    background-color: rgb(183, 210, 221);
    height: 100%;
    margin: 0%;
}
#main {
    margin: 1%;
}

/* Landing Styles */

#hom_col, #intro{
    border: 10px;
    border-color: rgb(142, 201, 241);
    border-style: groove;
    column-fill: auto;
    margin: 1px;  
}
#home_col {
    border: 5px;
    border-color: rgb(142, 201, 241);
    border-style: groove;
    height: 100%;
    width: 33.33%;
}
#intro {
    height: 30%;
    width: 99%;
    padding: 2%;
}


/* Achievement Styles */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    /* grid-auto-columns: 300px; */
    padding: 5px;
  }
  
  .grid-item {
    border: 3px solid rgba(3, 4, 106, 0.8);
    padding: 20px;
    text-align: center;
  }




