{% extends "aboutme/base.html" %}
{% block content %}

<h1> <b>JED G. STUMPF</b></h1>


<div class="container" align="center">
    <div>
        <p id="intro"> <strong> Lorem ipsum dolor sit, amet consectetur
                adipisicing
                elit.
                Architecto natus
                perferendis eligendi labore! Saepe dolores possimus corporis
                culpa
                libero
                beatae? Praesentium eos laborum nihil distinctio nisi in omnis
                facilis
                aliquid? Lorem ipsum dolor sit amet consectetur, adipisicing
                elit.
                Necessitatibus, quod? Maxime harum similique aperiam nesciunt,
                cupiditate
                nemo recusandae ad dolore optio dolores autem et quod earum
                porro
                obcaecati
                animi hic. </strong></p>

        <div class="row" align="center">
            <div class="col-xs-4" id="home_col">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eos, nemo consectetur cupiditate rerum illum, veniam
                    ratione odit nulla minima tempora unde aliquid, sed
                    voluptates quia. Ut incidunt veritatis eius obcaecati.
                </p>
            </div>
            <div class="col-xs-4" id="home_col">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam fugiat, facere iusto eum delectus, labore expedita
                    repellendus accusantium voluptas, numquam consequuntur aut.
                    Eaque itaque ut mollitia corporis. Deleniti, impedit
                    incidunt.
                </p>
            </div>
            <div class="col-xs-4" id="home_col">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ipsum nobis ducimus quas distinctio expedita laudantium
                    reiciendis corporis numquam. Dolorem cupiditate cumque
                    ipsam, ipsa libero sint explicabo eum voluptatibus illum
                    suscipit!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}